.experiences{
    border: 2px solid rgb(115, 114, 114);
    padding: 15px 20px;
    position: absolute;
    right: 0px;
    width: 77.1vw;
}


.experience-container{
    border: 2px solid rgb(115, 114, 114);
    border-radius: 10px; 
    padding: 20px;   
}

.experience-items{
    border: 2px solid rgb(115, 114, 114);
    border-radius: 10px;    
    padding: 10px; 
    margin-bottom: 15px; 
}

.org{
    font-size: 12px;
    border-radius: 10px;
    padding: 5px;
    color: oklch(0.52 0.19 260.01);
    background-color: oklch(0.93 0.03 255.65);
}

.company{
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}