.live-place{
    border: 2px solid rgb(115, 114, 114);
    padding: 15px 20px;
    position: absolute;
    right: 0px;
    width: 77.1vw;
}

.live-placements-container{
    border: 2px solid rgb(115, 114, 114);
    border-radius: 10px;
    padding: 10px;
}

.live-place-items{
    padding: 10px 15px;
    border: 2px solid rgb(115, 114, 114);
    margin: 10px;
    border-radius: 10px;
    
}

.info-1{
    gap: 25px;
    margin-bottom: 5px;
}
.info-2{
    gap: 25px;
    margin-bottom: 4px;
}