.justify-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.justify{
    display: flex;
    gap: 5px;
}

.font14{
    font-size: 14px;
    color: rgb(115, 114, 114);
}

.bold{
    font-weight: bold;
}

.green-text{
    color: oklch(.627 .194 149.214);
}

.med-color{
    color: oklch(.681 .162 75.834);
}

.just-between{
    display: flex;
    justify-content: space-between;
}

.colorGreen{
    color: rgb(11, 234, 11);
}