.justify{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.just-between{
    display: flex;
    justify-content: space-between;
}

.colorGreen{
    color: rgb(11, 234, 11);
}